coc/
configstore/
fish/
htop/
omf/
oni/
fontforge/
fvim/
kitt/
yarn
.netrwhist

# sublime stuff
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
